<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Демонстрационный вариант Gartensea</title>
  <meta name="description" content="Демонстрационный вариант Gartensea">
  <meta name="author" content="Фано">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,300&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&amp;display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
{% load static %}
  <link rel="stylesheet" href="{% static "special/presentation/style.css" %}">
</head>
<body>
<div class="base-container main-info">
	<div class="main-title">
		<h1>Gartensea</h1>
		<div class="line-star">
			<div class="title-line"></div>
		</div>
	</div>
	<div class="description-list">
		<p>
		Компактное веб-приложение для публикаций в формате микроблог+статьи. Размещается на персональном сервере, 
		что делает страницу независимой платформой ведения записей в интернете.</p>
		<ul>
			<li>
				Владение ресурсом: контроль доступа и списка пользователей, свои правила, возможность переписать программу
			</li>
			<li>
				Оформление на свой вкус через специальную панель без знания программирования
			</li>
			<li>
				Связь с аналогичными ресурсами (при желании)
			</li>
		</ul>
	</div>
</div>
<div class="demo-section">
	<div class="color-block first-color-block">
	
	</div>
	<a href="../demo" target="_blank">
		<div class="demo-cover">
			<div class="demo-show-info"><h2>пробный портал</h2></div>
		</div>
	</a>
	<div class="small-container color-block second-color-block">
		<div class="instruction-block">
			<h3>Инструкция по установке и использованию</h3>
			<p>скачать текстовый документ</p>
		</div>
		<p>
			<a href="../" target="_blank"><img src="../static/special/presentation/logo.png" class="mk-logo" />
			Информация по обновлениям</a>
		</p>
		<p>
			<a href="https://t.me/mao_maaao"><img src="../static/special/presentation/tg-logo.png" class="mk-logo" /> Связь в Telegram</a>
		</p>
	</div>
</div>
</body>
</html>